@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    height: 100vh;
    width: 100vw;
    background-color: #5f2c82;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    ;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: #ffffff;
    
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.454) ;
    width: 250px;
    height: 500px;
    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    margin-bottom: 20px;
    background: #5f2c82 url('../imagens/pexels-ali.jpg') no-repeat ;
    background-size: cover;
    
    height: 200px;
}

section#login > div#formulario {
    display: block;
    flex-direction: column;
    align-items: center;
    
    padding: 10px;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #49a09d;
    color: white;
    
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form > input[type=submit]:hover {
   
    
    background-color: #2a6765;
    
    
}

form > a.botao {
    display: block;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: #6cd3fc;
    border: 1px solid #2c7782;
    border-radius: 5px;
    margin-top: 5px;
   padding-top: 5px;
    text-decoration: none;
    color: #2c7782;
    font-weight: bold;
    font-size: 0.9em;
}

form > a.botao > span {
    font-size: 0.8em;
}

form > a.botao:hover {
    background-color: #2c7782;
    color: white;
}
